---
import Layout from "../layouts/Layout.astro";
import Header from "../components/Header-two.astro";
import Footer from "../components/Footer.astro";

const title = 'About me'
---

<Layout title={title}>
	<div class="scroller">
		<Header />
		<Footer />
	</div>
	
</Layout>

<style lang="scss">
	

</style>

<script>
    
</script>