---

---

<section id="hero" class="hero" data-scroll-section>
    <div class="background-gradient" data-scroll data-scroll-target="#hero">
        
            <div class="main" data-scroll data-scroll-sticky>
                <h2 data-scroll data-scroll-speed="2">LET’S SHOW YOUR AMAZING WORK TO THE WORLD</h2>
                <button data-scroll data-scroll-speed="1">
                    <a data-scroll href="https://gukwtiepfvl.typeform.com/to/qzGOruag" class="btn">
                        <span>GET IN TOUCH</span>
                    </a>
                </button>
                
                <div class="img">
                    <img src="https://res.cloudinary.com/dfj6st5pk/image/upload/v1663592901/Orange-elipse_ikl2ev.webp" alt="Orange elipse by henrique santi" class="cover">
                </div>
            </div>
        
    </div>
</section>

<style lang="scss">

    .hero {
        height: 100vh;
        width: 100%;
        margin: 0;
        padding: 0;
        display: flex;
        justify-content: center;

        .background-gradient {
            position: absolute;
            height: 100vh;
            width: 100vw;
            background: hsl(var(--clr-floral-white));       
        
            .main {
                height: 100%;
                display: flex;
                flex-direction: column;
                justify-content: flex-end;
                align-items: center;
                margin: 0 auto ;
                gap: 2.6rem;


                h2 {
                    font-size: var(--fs-400);
                    text-align: center;
                    z-index: -100;
                    color: hsl(var(--clr-jet));
                } 
                
                button {
                    border: none;
                    background: transparent;
                    .btn {
                        font-family: var(--ff-sans-title);
                        width: 100%;
                        padding: .8rem;
                        background-color: hsl(var(--clr-jet));
                        border: 2px solid hsl(var(--clr-jet));
                        display: flex;
                        justify-content: space-between;
                        border-radius: 3rem;
                        cursor: pointer;
                        transition: .3s ease-in-out;

                        video {
                            max-width: 4rem;
                            border-radius: 100%;
                        } 

                        span {
                            color: hsl(var(--clr-floral-white));
                            font-size: var(--fs-400);
                            display: flex;
                            justify-content: center;
                            align-items: center;
                            margin-inline: 1rem;
                            transition: .3s ease-in-out;
                        }
                    }
                }
                button:hover {
                    background: transparent;
                    .btn {
                        background-color: hsl(var(--clr-orange-soda));
                        span {
                            color: hsl(var(--clr-jet));
                        }
                    }
                }
                
                .img {
                        max-width: 200px;
                        img {
                            display: block;
                            max-width: 200px;
                            position: absolute;
                            top: 50%;
                            left: 50%;
                            transform: translate(-50%, -80%) rotate(12deg);
                            z-index: -110;
                        }
                }
            }
        }
    }

    
    
    

    @media (min-width: '768px') {
        .hero {

            .background-gradient {
                position: absolute;
                height: 100vh;
                width: 100vw;
                background-size: cover;        
                
                .main {
                    width: 700px;
                    justify-content: center;
                    align-items: center;
                    gap: 0;
                    cursor: default;
                    
                    h2 {
                        position: absolute;
                        width: 700px;
                        font-size: var(--fs-600);
                    }

                    .img {
                        max-width: 300px;
                        img {
                            display: block;
                            max-width: 300px;
                            position: absolute;
                            top: 50%;
                            left: 50%;
                            transform: translate(-50%, -50%) rotate(12deg);
                            z-index: -110;
                        }
                    }

                    .scroll-down {
                        display: none;
                    }
                }
                
                /*
                .main:hover {
                    .img {
                        img.cover {
                            max-width: 280px;
                            opacity: 0;
                        }
                    }
                }*/
            
            }
        }
    } 

    @media (min-width: '1440px') {
        .hero {
            .background-gradient {
                .main {
                    max-width: 900px;
                    
                    h2 {
                        width: 900px;
                        font-size: var(--fs-700);
                    
                    }


                    .img {
                        max-width: 360px;
                        img {
                            max-width: 360px;
                        }
                        img.image {
                            display: block;
                            height: 460px;
                        }
                    }
                }
                /*
                .main:hover {
                    .img {
                        img.cover {
                            max-width: 340px;
                        }
                    }
                }
                */
            }
        }
    }

    @media (min-width: '1860px') {
        .hero {
            .background-gradient {
                .main {
                    max-width: 1200px;
                    
                    h2 {
                        width: 1200px;
                        font-size: var(--fs-800);
                    
                    }


                    .img {
                        max-width: 420px;

                        img {
                            max-width: 420px;
                        }
                        img.image {
                            display: block;
                            height: 560px;
                        }
                    }
                }
                /*
                .main:hover {
                    .img {
                        img.cover {
                            max-width: 400px;
                        }
                    }
                }
                */
            }
        }
    }

</style>

