---

---

<section class="first-project" data-scroll-section>
    <div class="main container" data-scroll>
        <div class="content" data-scroll>
            <div class="project-name" data-scroll data-scroll-direction="horizontal"  data-scroll-speed="-20">
                <h2>READY TO CREATE AWESOME</h2>
            </div>
            <div class="project" data-scroll data-scroll-delay="1" data-scroll-speed="2">
                <img src="https://bestanimations.com/media/shapes/19528138333d-triangle-cone-computer-gif-3.gif" alt="image" class="image">
                <div class="cover ">
                    <span class="number ff-sans-title" >
                        01
                    </span>
                    <h4>UMPERFACE</h4>
                </div>
            </div>
            <div class="project-type" data-scroll data-scroll-direction="horizontal" data-scroll-delay="1" data-scroll-speed="20">
                <h2>WEB DESIGN EXPERIENCES</h2>
            </div>
        </div>
    </div>
</section>

<style lang="scss">
    .first-project {
        background: hsl(var(--clr-jet));

        .container {
            max-width: 1920px;
        }

        .main {
            
            display: flex;
            align-items: center;
            justify-content: center;
            
            .content {

                .project-name, .project-type {
                    display: none;
                }

                


                .project {
                    cursor: pointer;
                    overflow: hidden;
                    position: absolute;
                    z-index: -100;

                    .image {
                        display: block;
                        width: 100%;
                        height: auto;
                    }

                    .cover {
                        position: absolute;
                        top: 0;
                        bottom: 0;
                        left: 0;
                        right: 0;
                        height: 100%;
                        width: 100%;
                        transform: translateY(0);
                        transition: .2s ease-in-out;
                        background: linear-gradient(hsl(var(--clr-bone)), hsl(var(--clr-ash-gray)));
                        display: flex;
                        align-items: end;

                        .number {
                            display: none;
                        }
                        H4 {
                            padding: 1rem 2rem;
                            font-size: 1.4rem;
                            font-weight: bold;
                            mix-blend-mode: difference;
                        }
                    }
                }
            }
        }
    }
    @media screen and (min-width: '768px') {
        .first-project {
            height: 100vh;
            width: 100vw;

            .main {
                height: 100vh;
                .content {
                    height: 70%;
                    display: grid;
                    grid-template-columns: 1fr 2fr 1fr;

                    .project-name, .project-type {
                        position: relative;
                        display: flex;
                        mix-blend-mode: difference;
                        justify-content: center;

                        h2 {
                            position: absolute;
                            border-bottom: 1px solid hsl(var(--clr-floral-white));
                            color: hsl(var(--clr-floral-white));
                            font-size: var(--fs-900);
                            
                        }
                    }

                    .project-name {
                        align-items: center;
                        z-index: 10;
                        width: 200px;

                        
                        h2 {
                            width: 2400px;
                        }
                    }
                    .project-type {
                        justify-content: end;
                        align-items: end;
                        width: 200px;

                        h2 {
                            width: 2300px;
                        }
                    }


                    .project {

                        .cover {
                            position: absolute;
                            top: 0;
                            bottom: 0;
                            left: 0;
                            right: 0;
                            height: 100%;
                            width: 100%;
                            transform: translateY(0);
                            transition: .2s ease-in-out;
                            background: linear-gradient(hsl(var(--clr-bone)), hsl(var(--clr-ash-gray)));
                            display: flex;
                            align-items: start;

                            .number {
                                display: block;
                                padding: 2rem;
                                font-size: 6rem;
                                font-weight: bold;
                            }
                            h4 {
                                display: none;
                            }
                        }
                    } 
                    .project:hover {
                        .cover {
                            transform: translateY(-100%);
                            opacity: .5;
                        }
                    }
                }

                @media screen and (min-width: '1440px') {
                    .content {
                        height: 60%;

                        .project-name, .project-type {
                            h2 {
                                font-size: 8rem;
                            }
                        }
                        

                        @media screen and (min-width: '1920px'){
                            .project-name, .project-type {
                                h2 {
                                    font-size: 9.5rem;
                                }
                            }
                            
                        }
                    }
                }
            }
        }
    }
    
</style>