---

---

<section>
    <div class="main container">
        <h1>PROCESS</h1>
    </div>
</section>

<style lang="scss">
    section {
        width: 100%;
        height: 100vh;
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: hsl(var(--clr-floral-white));
        
        .main {
            display: flex;
            justify-content: center;
            align-items: center;
        }
    }
</style>